.order-status{
    text-align: left;
    padding: 30px;
}
.cart-heading{
    color: darkblue;
    text-align: center;
}
.title-style{
    color: navy;
}
.shopping-cart-icon{
    text-align: right;
}
.cart-info{
    text-align: right;
}